* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  text-decoration: none;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@import './NavBar.scss';
@import './Home.scss';
@import './Services.scss';
@import './Projects.scss';
@import './Contact.scss';
@import './Footer.scss';
