.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 8vh;
  width: 100%;
  background-color: rgb(32, 79, 159);
  padding: 2rem 4rem 1.5rem 4rem;
  .footer-left {
    font-size: 2.2rem;
    color: whitesmoke;
    .company-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 2rem;
      color: whitesmoke;
    }
  }
  .footer-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 30%;
    font-size: 2.2rem;
    color: whitesmoke;
    .footer-logo {
      height: 2rem;
      width: 2rem;
      background-color: white;
    }
  }
}
